/workPortfolio/.idea/
/workPortfolio/node_modules/
/invitationInitiation/invitationInitiation/node_modules/
dist/
build/
*.log
.DS_Store
.env
*.pem
*.key
id_rsa*
id_ed25519*
workPortfolio/Jhonatan11+
workPortfolio/Jhonatan11+.pub
/workPortfolio/public/tw.css
/workPortfolio/public/images/CarlosCv.pdf