@import "tailwindcss";

@theme {
  --container-7xl: 1400px;
  --spacing: 0.25rem;
  --container-center: true;
}

#intro {
  background: #5A7BFF;
  background-image: radial-gradient(at 58.309326315613866% 98.3822922634041%, hsla(270, 54.4%, 44.7%, 0.6) 0%, hsla(225.3061224489796, 73.13432835820895%, 13.137254901960786%, 0) 100%), radial-gradient(at 20.89952541415655% 29.8826361178663%, hsl(0, 0%, 0%) 0%, hsla(258.4, 96.2%, 69.4%, 0.03) 100%), radial-gradient(at 38.7561075031143% 52.08169895495453%, hsl(225.4, 63.1%, 12.7%) 0%, hsla(225.3061224489796, 73.13432835820895%, 13.137254901960786%, 0) 100%), radial-gradient(at 29.616565446214928% 71.96523289270446%, hsl(227.6, 39.1%, 34.1%) 0%, hsla(154.8, 90.1%, 39.8%, 0.5) 100%), radial-gradient(at 94.64661708413261% 3.122218787049824%, hsl(0, 0%, 0%) 0%, hsla(160.9937888198758, 98.77300613496934%, 31.960784313725487%, 0) 100%), radial-gradient(at 24.522010310685328% 58.047246820926034%, hsl(225.3, 73.1%, 13.1%) 0%, hsla(225.3061224489796, 73.13432835820895%, 13.137254901960786%, 0) 100%), radial-gradient(at 40.70002861854578% 96.82440250883015%, hsl(0, 0%, 0%) 0%, hsla(258.4, 96.15384615384616%, 69.41176470588235%, 0) 100%), radial-gradient(at 88.49046378636956% 62.0781821055491%, hsl(225.3, 73.1%, 13.1%) 0%, hsla(225.3061224489796, 73.13432835820895%, 13.137254901960786%, 0) 100%), radial-gradient(at 62.009321974948996% 77.99680488967938%, hsl(160.4, 100%, 40.8%) 0%, hsla(224.81927710843374, 73.45132743362831%, 22.156862745098042%, 0) 100%), radial-gradient(at 34.47460072845991% 95.18973314351301%, hsl(161, 98.8%, 32%) 0%, hsla(160.9937888198758, 98.77300613496934%, 31.960784313725487%, 0) 100%);
}

